.box-1 {
    background-color: aquamarine;
    padding: 10px;
    margin-top: 10px;
  }
  
  .box-2 {
    background-color: rgb(29, 138, 138);
    padding: 10px;
    margin-top: 10px;
    display: inline;
  }
  
  .box-3 {
    background-color: rgb(255, 0, 230);
    color: white;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
  }
  
  .box-4 {
    background-color: greenyellow;
    padding: 10px;
    margin-top: 10px;
    display: none;
  }
  
  .box-5 {
    background-color: rgb(94, 32, 218);
    padding: 10px; 
    margin-top: 10px;
    visibility: hidden;
  }
  
  .box-6 {
    background-color: rgb(92, 128, 0);
    padding: 10px;
    margin-top: 10px;
  }
  