.box-1{
    background-color: aquamarine;
    padding: 15px;
    margin-top: 12px;

}
.box-2{
    background-color: rgb(2, 36, 25);
    padding: 18px;
    margin-top: 12px;
    display: inline;
}
.box-3{
    background-color: rgb(36, 2, 4);
    color: white;
    padding: 18px;
    margin-top: 12px;
    display: inline;
}